.git
.github
node_modules
vendor
public/build
public/hot
storage/app/*
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
storage/logs/*
.env
.env.*
!.env.example
tests
backups
*.md
docs
Dockerfile
docker-compose*.yml
